/* .playlistPage .mainInner {
      background-image: -webkit-gradient
        (linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.5)),
        color-stop(40%, #121212))
   } */
.mainInner {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), #121212 40%); */
  /* background: #131313; */
  background: #282828;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
}

.playlistPageInfo {
  /* // width: 300px; */
  text-align: center;
  padding: 1.5rem 0;
  display: flex;
}
.playlistPageInfo .playlistPageImage {
  width: 250px;
  height: 250px;
}
.playlistPageInfo .playlistPageImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.playlistPageSongs {
  height: 100%;
}
.playlistPageSongs .playlistButtons {
  display: flex;
  align-items: initial;
}
.playlistButtons .playIcon {
  /* opacity: 1; */
  position: relative;
  margin-left: 0;
  height: 56px;
  width: 56px;
  right: 0;
  bottom: 0;
}
.playlistButtons .playIcon .svg {
  height: 26px;
  width: 26px;
}

.icons .icon-iconsHeart {
  margin-left: 1.5rem;
}
.icons .icon-iconsHeart {
  width: 28px;
  height: 28px;
}
.icons .icon-iconsHeart svg {
  fill: white;
}

.playlistPageContent {
  text-align: left;
  padding: 1.5rem 2rem;
}
.playlistPageContent h1 {
  font-size: 7rem;
  margin: 0;
  line-height: 1;
  font-family: circular-black;
  word-spacing: -18px;
  letter-spacing: -6px;
}
.playlistPageContent .tagline {
  font-size: 0.9rem;
  /* opacity: 0.7; */
  margin-bottom: 0.5rem;
}
.playlistPageDesc {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  /* margin: 10; */
}
.playlistPageDesc p {
  margin: 10;
  position: relative;
}
.playlistPageDesc span {
  /* opacity: 0.7; */
  position: relative;
  padding-left: 20px;
}
.playlistPageDesc ::before {
  content: "";
  width: 4px;
  height: 4px;
  background: white;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  margin-left: -10px;
  top: 9px;
}

.songList {
  padding: 0;
}
.songList li {
  list-style-type: none;
  width: 95%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  transition: background 0.2s ease-in-out;
}
/* .songList li :hover {
        background: rgba(255, 255, 255, 0.1);
     } */
.songIcon noteI {
  display: none;
}
.songIcon .playI {
  display: block;
}
.songDetails .h3 {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}
.songDetails span {
  color: rgba(223, 49, 49, 0.7);
  font-size: 0.9rem;
}

.songTime {
  margin-left: auto;
}
.songIcon {
  padding-right: 1rem;
}
.songIcon .playI {
  display: none;
}

