.album {
  width: 15rem;
  background-color: rgb(206, 217, 218);
  flex-direction: column;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1.3rem 1.3rem;
  box-shadow: 10px -9px 16px 5px rgba(255, 255, 255, 0.14);
  -webkit-box-shadow: 10px -9px 16px 5px rgba(255, 255, 255, 0.14);
  -moz-box-shadow: 10px -9px 16px 5px rgba(255, 255, 255, 0.14);
}

.album img {
  width: 15rem;
  border-radius: 0.6rem;
  box-shadow: 10px -5px 26px 5px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 10px -5px 26px 5px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 10px -5px 26px 5px rgba(0, 0, 0, 0.32);
}

.album h1 {
  font-size: 20px;
  color: rgb(23, 70, 67);
}

.album a {
  text-decoration: none;
  text-shadow: 1px 1px #928c8c;
  color: rgb(110, 11, 16);
  font-weight: 900;
}

h2 {
  font-size: 0.8rem;
  color: rgb(48, 49, 4);
  font-weight: 800;
}

.col,
.col1,
.col2,
h1,
h2,
h3,
a{
  background: transparent;
}

.col {
  /* display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* margin-top: 0.5rem; */ 
  display: flex;
}

.col1 {
  /* padding: .5rem;
  border-radius: 0.3rem; */
  margin-left: 0px;
}

button {
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h3 {
  color: rgba(88, 3, 199, 0.651);
}